*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 2em;
    background-color: black;
}
nav ul{
    list-style: none;
    position: relative;
}
nav ul li{
    width: 150px;
    float: left;
}
#menu{
    display: flex;
    justify-content: space-evenly;
}
nav a{
    padding: 10px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    color: aliceblue;
    background-color: black;
}
nav ul ul{
    position: relative;
    visibility: hidden;
}
nav ul li:hover ul{
    visibility: visible;
}
nav a:hover{
    float: none;
    border-bottom: 1px solid blue;
}
nav ul ul li{
    float: none;
    border-bottom:1px solid blue ;
}
label[for="btnMenu"]{
    padding: 5px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
#btnMenu{
    display: none;
}
label[for="btnMenu"]{
    display: none;
}
section{
    width: 100%;
    height: 100vh;
}
img{
    width: 40px;
    height: 40px;
}
iframe{
    width: 100%;
}
@media (max-width:800px){

    nav ul li{
        width: 100%;
        float: none;
    }
    header{
        display: flex;
        justify-content: space-between;
    }
    nav ul ul{
        position: static;
        overflow: hidden;
        max-height:0 ;
        transition: all 0.5s;
    }
    nav ul li:hover ul{
        height: auto;
        float: left;
    }
    #btnMenu{
        display: none;
    }
    label[for="btnMenu"]{
        display: block;
    }
    #btnMenu:checked ~ nav{
        margin-left: 0;
    }
    nav{
        margin-top: 5px;
        margin-left: -100%;
        transition: all 0.5s;
    }
}